/* nav background color */
#navcolor {
  /* background-color: rgba(255, 148, 148) !important; */
  background-color: #9eb384 !important;
  font-size: 150%;
  font-family: serif;
}
/* nav font color */
.nav-link {
  color: #fff !important;
}
/* body */
body {
  /* background-image: url(##);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #435334;
  padding-top: 75px;
  font-family: serif;
}
/* hyperlink */
a {
  text-decoration: none;
}
/* nav bar spacing */
.nav-spacing {
  padding: 30px;
}

footer {
  text-align: center;
  border: 2px;
  padding-top: 50px;
  color: #fff;
  background-color: #9eb384;
  backdrop-filter: blur(5px);
}

/* --Carousel-- */
.carousel-inner h1{
  display: flex;
  position: absolute;
  text-align: center!important;
  justify-content: center;
  bottom: 250px;
  right: 1050px;
  font-size: 150px;
  font-weight: 700;
  overflow: visible;
  color: #fff!important;
}
.carousel-inner p{
  display: flex;
  position: absolute;
  text-align: center!important;
  justify-content: center;
  text-overflow: clip;
  right: auto;
  bottom: 125px;
  font-size: 30px;
  font-weight: 500;
  color: #fff!important;
}

/* --Content-- */
.content {
}

.content h1 {
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 100px;
}
.content h3 {
  font-weight: 700;
  text-align: start;
  font-size: 50px;
}
.content p {
  text-align: start;
  font-size: 20px;
  
}

/* footer{
    margin-top: 50px;
    text-align: center;
    background-color: rgba(255, 148, 148, .15);   
    text-align: center;
    padding: 20px 0; 
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px;  
    text-shadow: 2px 2px 4px #000000;
  } */
