.responsive-image{max-width: 250px;
    height: 250px;
    transition: transform .5s; 
    box-shadow: 1s;
  }
.desc{margin-bottom: 30px;}

.responsive-image:hover{
    transform:scale(1.1);
    box-shadow:0px 6px 10px rgba(0, 0, 0, 0.535);
  }